* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: sans-serif;
  line-height: 1.5;
  background-color: blanchedalmond;
}

a {
    text-decoration: none;
  }

  .logo {
    width: 30%;
   
  }
 
  .nav-link {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}


#header {
    display: flex;
  }
  
  #nav-bar {
    position: fixed;
    top: 0px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
  }

  @media (min-width: 1200px) {
    body {
        background-color: white;
    }
  }
  